.alert
{
  color: #fff;
    padding: 20px;
}
.alert-success
{
  background: green;

}
.alert-danger
{
  background: red;

}
.messageIco
{
  font-size: 24px !important
}
.deleteGroupIco, .deletePriceIco, .deleteReservationIco, .deleteDateIco, .deleteHolidayIco
{
  font-size: 24px !important;
  color:red !important;
  cursor: pointer;
}

.zui-table {
  width:100%;
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table-highlight tbody tr:hover {
    background-color: #CCE7E7;
}
.zui-table-horizontal tbody td {
    border-left: none;
    border-right: none;
}

.one-third
{
  width: 30%;
  display:inline-block;
  vertical-align: top;
}

.reservations_slide
{
  /* width: 100%; */
  font-size: 14px;
  text-align: center;
  cursor:pointer;
  /* background: #fff; */

  padding:20px;
  /* box-shadow: 2px 2px 2px black; */
}
.reservations_slide_content
{
  display: none;
  /* background: #ffffff; */

    padding: 10px;
    /* margin-bottom: 5px; */
}

#hours
{
  padding:10px;
}

.showAfterHoursList, .showAfterHourCheck, #additionalOptionsDiv
{
  display:none;
}

img.loader
{
  display: none;
}

/*  */
.form-style-8{
    font-family: 'Open Sans Condensed', arial, sans;
    width: 100%;
    /* padding: 30px; */
    background: #FFFFFF;
    /* margin: 50px auto; */
    margin-bottom: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style-8 h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}
.form-style-8 input[type="button"],
.form-style-8 input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover,
.form-style-8 input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}

/*  */

.dateHead
{
  padding: 20px;
    text-align: center;
    cursor: pointer;
}

.showOnClick
{
  padding: 20px;
  display:none;
}

#holidaysDiv
{
  display:none;
}
