#app
{
  display: none;
}
.kanguplugin_reservation_popup
{
  position: fixed;
  background: rgba(62, 62, 62, 0.75);
  width:100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 60;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kanguplugin_reservation_modal
{
  min-width:50%;
  min-height: 30%;
  background: #fff;

  padding-bottom: 20px;
}

.kanguplugin_head
{
  padding:10px;
  background: #5e1d70;
  color: #fff ;
  font-size: 40px;
  margin-bottom: 10px;
}

/*  */
.usersGroup
{
  text-align: center;
    border: 1px solid black;
    margin: 5px;
    cursor: pointer
}
.usersGroup:hover
{
  background: #5e1d70;
  color: #fff;
}

.groupSelected
{
  background: #5e1d70;
  color: #fff;
}

.kanguplugin_hide
{
  display:none;
}

.loader
{
  display: block;
  margin:0 auto;
}

#hours
{
  text-align: center;
}
.hour
{
  margin-top:10px;
  width: 65px;
  height: 45px;
  display: inline-block;
  border: 1px solid black;
  margin-right: 10px;
  cursor: pointer;
        margin-bottom: 9px;
}

.hour_active
{
  border: 2px solid #5e1d70;
        background: #5e1d70;
    color: #fff;
    border: 1px solid #efc93f;
}

#check, #submit
{
  display: block;
  margin:0 auto;
  box-shadow: 0 2px 0 #5e1d70;
  background: #5e1d70;
  margin-bottom: 10px;
}

#close
{
  float: right;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

#changeGroup
{
  display:none;
}
